.dialog {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.dialog a {
  text-decoration: none;
  color: darkgreen;
  font-size: 20px;
}

.dialog .active {
  color: tomato;
  font-weight: bold;
}
