.app-wrapper {
  display: grid;
  grid-template-areas:
    'header header header'
    'nav content content';
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  min-height: 100vh;
}

.header {
  grid-area: header;
  background-color: tomato;
}

.header img {
  display: block;
  width: 40px;
  height: 40px;
  object-fit: cover;
  object-position: center;
}

.nav {
  grid-area: nav;
  background-color: lightgreen;
}

.content {
  grid-area: content;
  background-color: lightblue;
}

.banner {
  width: 100%;
  height: 300px;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
