.message {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 65%;
  background-color: lightyellow;
  padding: 10px;
  border-radius: 8px;
}

.message:nth-child(odd) {
  background-color: lightgreen;
  margin-left: auto;
  text-align: right;
}
